<div class="course">
    <div class="course-preview <%= superpower.category %>">
      <h6><%= superpower.address %></h6>
      <h3><%= superpower.category %></h3>
      <%= link_to 'View details', superpower_path(superpower), class:"fas fa-chevron-right" %>
    </div>
    <div class="course-info">
      <h6>Price per day: $<%= superpower.price_per_day %></h6>
      <h2><%= superpower.name %></h2>
       <%= link_to 'Book', superpower_path(superpower), :class => "btn-infobox-book #{superpower.category}" %>
    </div>
</div>
