<div class="container">
  <div class="form-container">
    <h2>Modify this superpower</h2>
    <%= simple_form_for(@superpower, url: update_superpower_path(@superpower)) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.input :category, as: :select, collection: Superpower::CATEGORIES.map { |c| [c.capitalize, c] } %>
      <%= f.input :price_per_day %>
      <%= f.submit %>
    <% end %>
  </div>

  <%= link_to "Back", my_superpowers_path %>
</div>
