<div class="main-container">
  <div class="container">
    <h1>List of Superpowers 💥💫</h1>

    <div class="cards">
      <% @superpowers.each do |superpower| %>
      <div class="card-trip <%= superpower.category %>">
      <%= cl_image_tag superpower.photo.key, height: 200 %>
        <div class="card-trip-infos">
          <div>
            <%= link_to superpower.name, superpower_path(superpower), class: "btn-flat" %>
            <p>Category: <%= superpower.category.capitalize %></p>
          </div>
            <h3 class="card-trip-pricing"><%= superpower.price_per_day %></h3>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
