<div class="container">
  <h2>My superpowers</h2>


  <div class="cards">
    <% @superpowers.each do |superpower| %>
      <div class="card-category">
        <%= superpower.name %>
        <%= superpower.category.capitalize %>
        <%= superpower.price_per_day %>
        <%= link_to "Edit", edit_superpower_path(superpower) %>
      </div>
    <% end %>
  </div>

  <%= link_to "Back", superpowers_path %>
</div>
