<div class="container">
  <div class="top-spacer">
    <h2 id="space-between" class="comic-header">My Superpowers</h2>

    <div class="superpowers-product">
      <% @superpowers.each do |superpower| %>
        <div class ="superpowers-product-card <%= superpower.category %>">

          <div class="image-card">
            <% if superpower.photo.key %>
              <%= cl_image_tag superpower.photo.key, height: 150, width: 150, crop: :fill %>
            <% else %>
              <%= image_tag "not_available.jpg", height: 150, width: 150 %>
            <% end %>
          </div>

          <div class="superpowers-details-card">
            <p class="superpower-name"><%= link_to superpower.name, superpower_path(superpower) %></p>
            <p class="superpower-category"><%= superpower.category.capitalize %></p>
            <p class="superpower-price"><%= superpower.price_per_day %></p>

            <div class="card-links">
            <%= link_to(toggle_availability_path(superpower)) do %>
              <% if superpower.listed %>
                <i class="fa-solid fa-square-check"></i> Listed
              <% else %>
                <i class="fa-solid fa-square-xmark"></i> Unlisted
              <% end %>
            <% end %>

            <%= link_to(edit_superpower_path(superpower)) do %>
              <i class="fa-solid fa-square-pen"></i>
            <% end %>

            <%= link_to(superpower_path(superpower), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} ) do %>
              <i class="fa-solid fa-square-minus"></i>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <%= link_to "Back to index", superpowers_path %>
  </div>
</div>
