 <%# will be changed later, just need to put something here %>

<div class="container container-custom">
  <div class="single-power">
    <div class="row">
      <div class="col-6">
        <div class="power-image">
          <div class="power-image-main">
            <% if @superpower.photo.key %>
              <%= cl_image_tag @superpower.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag "not_available.jpg", height: 480, width: 570 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="breadcrumb">
          <span><%= link_to "Home", my_superpowers_path %></span>
        </div>

        <div class="power">
          <div class="power-name">
            <h2><%= @superpower.name %></h2>
            <h3><%= @superpower.category.capitalize %></h3>
          </div>
          <div class="power-price">
            <span class="offer-price"><strong>$<%= @superpower.price_per_day %></strong></span>
          </div>

          <div class="power-details">
            <h4>Description</h4>
            <p><%= @superpower.description %></p>
          </div>
          <span class="divider"></span>

          <div class="power-btn-select">
            <div><%= link_to "Book this", new_superpower_booking_path(@superpower), class: "btn btn-dark" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
