 <%# will be changed later, just need to put something here %>

<center>
<div class="details">
  <% if @superpower.photo.key %>
    <%= cl_image_tag @superpower.photo.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%= cl_image_tag "zzoajk0pifocklltdt9j", height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="details-infos">
    <h1><%= @superpower.name %></h1>
    <h2><%= @superpower.category.capitalize %></h2>
    <p><%= @superpower.description %></p>
    <p><strong>$<%= @superpower.price_per_day %></strong></p>
  </div>
  <%= link_to "Book this", new_superpower_booking_path(@superpower), class: "btn btn-outline-warning" %>
  <%= link_to "Go back", my_superpowers_path, class: "btn btn-outline-warning" %>
</div>
</center>
