<h1>List of Bookings</h1>

<h4>RENTEE</h4>
<div class="cards">
  <% @bookings_as_rentee.each do |booking| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <%= booking.start_date %>
      <%= booking.end_date %>
      <%= booking.status.capitalize %>
      <%= link_to booking.superpower.name, my_booking_details_path(booking) %>
    </div>
  <% end %>
</div>

<h4>RENTOR</h4>
<div class="cards">
  <% @bookings_as_rentor.each do |booking| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <%= booking.start_date %>
      <%= booking.end_date %>
      <%= booking.status.capitalize %>
      <%= link_to booking.superpower.name, my_booking_details_path(booking) %>
    </div>
  <% end %>
</div>
