<div class="container">
<div class="top-spacer"></div>
  <h2 id="space-between" class="comic-header">Superpowers you've rented out</h2>

  <div class="bookings-product">
    <% @bookings.each do |booking| %>
      <div class ="bookings-product-card <%= booking.superpower.category %>">
        <p class="superpower_name"><%= link_to booking.superpower.name, booking_path(booking) %></p>
        <p class="booking_date"><%= booking.start_date %></p>
        <p class="booking_date"><%= booking.end_date %></p>
        <p class="booking_status"><%= booking.status.capitalize %></p>
      </div>
    <% end %>
  </div>
</div>
