<div class = "container">
  <div class="form-container">
    <h2>Book your superpower</h2>
    <%= simple_form_for(@booking) do |f| %>
      <%= f.input : %>
      <%= f.input : %>
      <%= f.input : %>
      <%= f.input : %>


  </div>
</div>
