<div class="container">
  <div class="form-container">
    <h3>Forgot your password?</h3>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-warning" %>
      </div>
    <% end %>

    <div class="form-other-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
