<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container-fluid">
    <%= link_to "SuperPowerBnb", superpowers_path, class: "navbar-brand" %>
    <form action="/superpowers" class="d-flex">
      <input name="query" class="form-control me-2" type="search" placerholder="Look up a superpower"></input>
      <input type="submit" class="btn btn-outline-warning" value="Search"></input>
    </form>
    <%= link_to "Add a superpower", new_superpower_path %>
    <%= link_to "My superpowers", my_superpowers_path %>
    <div class="ms-auto flex navbar-buttons">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-warning" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-warning" %>
        <%= link_to "Register", new_user_registration_path, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</nav>
