<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
  <div class="container-fluid">
    <%= link_to "OneForAll", superpowers_path, class: "navbar-brand" %>
    <form action="/superpowers" class="d-flex">
      <input name="q" class="form-control me-2" type="search" placeholder="Look up a superpower">
      <button id="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class= "navbar-nav">
        <li class="nav-item">
          <%= link_to "Add a Superpower", new_superpower_path, class: "btn btn-warning" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Superpowers", my_superpowers_path, class: "btn btn-warning" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Bookings", my_bookings_path, class: "btn btn-warning" %>
        </li>
        <li class="nav-item">
          <%= link_to "Bookings", my_bookings_path, class: "btn btn-warning" %>
        </li>
      </ul>
    </div>
    <div class="ms-auto flex navbar-buttons">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-warning" %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-warning" %>
        <%= link_to "Register", new_user_registration_path, class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</nav>

<%# value="Search"> %>
<%# -custom fixed-top %>
