<!DOCTYPE html>
<html>
  <head>
    <title>RailsSuperpowersbnb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,400;1,500&family=Frank+Ruhl+Libre:wght@300;400;500;700&display=swap');</style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
